<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/a11y-dark.min.css" />
<link rel="stylesheet" href="/css/createPost.css" />
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
</head>

<body>
    <!-- START NAV -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="/api/v1/pages/">Code To Geeks</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item">
                        <a class="nav-link " href="/api/v1/pages/post">POSTS</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="/api/v1/pages/author">AUTHORS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/pages/tag">TAGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/v1/pages/image">IMAGES</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="#">logout</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- END NAN  -->
    <div class="container-fluid" id="main-container">
        <div class="row">
            <h1>Post Creator</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="post_title" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Slug</label>
                        <input type="text" class="form-control" id="post_slug" placeholder="Slug" />
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Tags</label>
                        <input class="form-control typeahead twitter-typeahead" id="tags-multi" data-provide="typeahead"
                            placeholder="Start typing something to search..." type="text" />
                      
                    </div>
                </form>
                <div class="form-group">
                    <div class="card" id="tags-container"  >
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="summernote">
            <p>Hello Summernote</p>
        </div>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    Tools
                </div>
                <div class="card-body">
                    <button type="button" id="myBtn" class="btn btn-primary" onclick="addCode()">
                        ADD CODE
                    </button>

                </div>
            </div>
        </div>
        <div class="container-fluid" id="page-controller">
            <button type="button" class="btn btn-success" onclick="savePost()">
                Save Post
            </button>
        </div>

<!-- model -->
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                       

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Write you code here</label>
                            <select class="form-select" aria-label="Default select example" id="language">
                                <option selected value="not">Please Select Programming Language :</option>
                                <option value="language-xml">HTML, XML</option>
                                <option value="language-javascript">JavaScript</option>
                                <option value="language-css">CSS</option>
                                <option value="language-json">JSON</option>
                                <option value="language-cpp">C++</option>
                                <option value="language-csharp">C#</option>
                                <option value="language-java">Java</option>
                                <option value="language-go">Go</option>
                                <option value="language-bash">Bash</option>
                              </select>
                            <textarea class="form-control" id="code_container" rows="3"></textarea>

                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="addCode()">Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            onclick="close_modal()">Close</button>
                        <!-- <button type="button"  class="btn btn-secondary" data-dismiss="modal" >Close</button> -->
                    </div>
                </div>
            </div>
        </div>




    </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

    <script
        src="https://cdn.jsdelivr.net/npm/@universityofwarwick/bootstrap-3-typeahead@4.1.0/bootstrap3-typeahead.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.0/build/highlight.min.js"></script>
        <script src="/js/createPost.js"></script>
   
</body>

</html>